$contrast-base-color: #000028;
$base-white: #fafafa;
$light-contrast: #00aaee;
$menu-icon: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e";

textarea{
    resize: none;
}

.navbar{
    background-color: $contrast-base-color;

    .navbar-brand{
        color: $base-white;
        font-size: 2em;
    }

    .navbar-toggler-icon{
        background-image: url($menu-icon);
    }

    .nav{

        .nav-item{
            position: relative;
        }
        .nav-link{
            color: $base-white;
            height: 40px;
            transition: translate 0.2s;
        }
        .nav-link:hover{
            translate: 2px 0;
            transition: translate 0.2s;
        }
        .nav-link.active{
            color: $light-contrast;
            font-weight: bold;
        }
    }
}

h3, h4{
    padding: 12px 0;
}

img{
    width: 100%;
}

section:not(#hero-section){
    padding: 50px 0 24px 0;

    &:nth-child(odd){
        background-color: $base-white;
    }
}

#hero-section{

    margin-bottom: 40px;

    img{
        width: 100%;
    }
}

.keep-scroll-arrow{
    margin-top: 40px;
}

#contato-submit{
    background-color: $contrast-base-color;
    color: $base-white;
    margin: 16px 0px;
    font-weight: bold;
    &:hover{
        background-color: $light-contrast;
    }

}

h2{
    padding: 36px 0 24px 0;
}

input, button, textarea{
    box-shadow: none !important;
}

.wrap-reverse{
    flex-wrap: wrap-reverse;
}

.box-text{
    padding-top: 16px;
}


.shadow-sides{
    box-shadow: 0px 0px 50px -15px rgba(0,0,0,0.75);
}

.nav-link{
    background-color: transparent;
    border: none;
}

#cursos-section{

    .nav{
        margin-bottom: 8px;

    }
    
    .nav-link{
        border-right: 1px solid #dedede;
        color: $contrast-base-color;
        position: relative;
        padding: 10px;

    }

    .nav-link::before{
        content: "";
        display: block;
        background-color: $light-contrast;
        width: 0;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.8s;
    }

    .nav-link.active::before{
        width: 100%;
    }

    .nav-link:hover::before{
        width: 100%;
    }
}

.redes-sociais{
    list-style: none;
    display: flex;
    gap: 24px;

    img{
        width: 48px;
    }
}

//md
@media(min-width: 768px){
    .navbar{
        .nav{
            .nav-link:hover{
                translate: 0 2px;
                transition: translate 0.2s;
            }
        }
    }
    
    #presentation-section {
        .row{
            width: 100%;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: 
            "imagem texto1" 
            "imagem texto2";
            gap: 16px;
            
            .box-text{
                order: 2;

            }
            .box-text:first-of-type{
                grid-area: texto1;
            }
            .box-text:last-of-type{
                grid-area: texto2;
            }

            img{
                max-width: 500px;
                order: 1;
                margin: 24px 0;
                grid-area: imagem;
                align-self: center;
            }
        }
    }

    #hero-section img{
        max-height: 80vh;

    }
}





// .keep-scroll{
//     margin-top: 35px;
//     border: 3px solid $contrast-base-color;
//     aspect-ratio: 2/4;
//     width: 30px;
//     border-radius: 50px;
//     position: relative;

// }
// .keep-scroll-dot{
//     $dot-size: 7px;
//     background-color: $contrast-base-color;
//     height: $dot-size;
//     width: $dot-size;
//     position: absolute;
//     left: calc(50% - $dot-size / 2);
//     top: 5px;
//     border-radius: 100%;
//     animation: scroll-dot-animation 1.5s linear 1s infinite;
// }

